<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Project</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row m-0">
        <div class="col-md-9 px-2">
          <div class="border rounded p-2">
            <h2>Text analyzed</h2>
            <p>{{ analyzed_text }}</p>
          </div>
        </div>
        <div class="col-md-3 px-2 text-white bg-primary shadow-sm border rounded">
          <div class="p-3">
            <h5>No. of characters: {{char_count}}</h5>
            <h5>No. of alphabets: {{apbet_count}}</h5>
            <h5>No. of digits: {{digit_count}}</h5>
            <h5>No. of punctuations: {{punc_count}}</h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
