<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Project</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <form action="/analyzed" method="post" > {% csrf_token %}
        <div class="form-group">
          <h2>Text Area</h2>
          <textarea
            placeholder="Enter your raw text here..."
            name="text"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="6"
          ></textarea>
        </div>

        <input
          name="removePunc"
          type="checkbox"
          aria-label="Checkbox for following text input"
        />
        &nbsp; Remove Punctuation <br />

        <input
          name="upperCase"
          type="checkbox"
          aria-label="Checkbox for following text input"
        />
        &nbsp; All Capitalize <br />

        <input
          name="lowerCase"
          type="checkbox"
          aria-label="Checkbox for following text input"
        />
        &nbsp; All Lower Case <br /> <br>

        <button type="submit" class="btn btn-primary mb-2">Analyze Text</button>
      </form>
    </div>
  </body>
</html>
