{% extends 'shop/basic.html' %} {% block title %} Home Page {% endblock %}
{% block body %} {% load static %}

<!-- CARDS STARTS FROM HERE -->
<div class="fluid-container">
  <div class="row m-0 px-5 my-5 justify-content-center">
    {% for product in products %}
    <div class="col p-0 p-md-2 my-2 ">
      <div class="card" >
        <img
          class="card-img-top"
          src="/media/{{product.product_image}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title d-inline">{{product.product_name}}</h5>
            <h5 class="card-title d-inline">{{product.product_price}}$</h5>
          </div>

          <p class="card-text">{{product.product_description}}</p>
          <a href="#" class="btn btn-success">Add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
